.filter {
    padding: 20px 0;

    &__menu {
        // display: flex;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        -webkit-box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.17);
        -moz-box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.17);
        box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.17);
    }

    &__panel {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &__car {
        // display: table-caption;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        width: 100%;
        border-bottom: 1px solid rgb(173, 173, 173);
        cursor: pointer;
        background-color: #C5E8FF;
        transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -ms-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;

        &:not(:last-child) {
            border-right: 1px solid rgb(173, 173, 173);
        }

        &:first-child {
            border-radius: 10px 0 0 0;
            -webkit-border-radius: 10px 0 0 0;
            -moz-border-radius: 10px 0 0 0;
            -ms-border-radius: 10px 0 0 0;
            -o-border-radius: 10px 0 0 0;
        }

        &:last-child {
            border-radius: 0 10px 0 0;
            -webkit-border-radius: 0 10px 0 0;
            -moz-border-radius: 0 10px 0 0;
            -ms-border-radius: 0 10px 0 0;
            -o-border-radius: 0 10px 0 0;
        }

    }

    &__selected {
        border-bottom: 1px solid rgba(173, 173, 173, 0);
        background-color: white;
    }

    &__options {
        padding: 15px;
        display: grid;
        // grid-template-columns: repeat(5, auto);
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
    }

    &__btn {
        height: 100%;
        width: 214px;
        background-color: #6B85FF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #4556EE;

        }

        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }
}