.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        background-color: aliceblue;
        padding: 30px;
    }
}