.option {
    position: relative;
    &__lable {
        margin-bottom: 5px;
    }

    &__menu {
        position: relative;
        border: 1px solid rgb(152, 152, 152);
        padding: 7px 7px 7px 7px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;

    }

    &__triangle {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 100%;
        border-left: 2px solid rgb(173, 173, 173);
        cursor: pointer;


        img {
            position: absolute;
            top: 7px;
            right: 5px;
            transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
        }

        &:active {
            img {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
            }
        }

    }

    &__text,
    input::placeholder {
        color: rgb(100, 100, 100);
        font-weight: 500;
    }

    &__selected {
        background-color: #d0e7ff;
        color: black;
    }


    &__list {
        position: absolute;
        top: 25px;
        max-height: 120px;
        overflow-y: scroll;
        left: -1px;
        right: -1px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        -webkit-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.5);
        z-index: 10;
        color: rgb(100, 100, 100);


    }

    &__item {
        padding: 5px 5px 5px 15px;
        cursor: pointer;
        background-color: white;
        z-index: 11;
        font-weight: 500;

        &:hover {
            background-color: #4556EE;
            color: white;
        }

        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
    }

    &__disabled {
        display: none;
    }

    input {
        border: 1px solid rgb(152, 152, 152);
        outline: none;
    }

    &__menu,
    input {
        max-width: 200px;
        min-width: 200px;

    }

    input,
    &__text {
        font-size: 14px;
    }


}