.carPage {
    display: block;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    &__lable {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
    }

    &__name,
    &__price {
        font-size: 34px;
        font-weight: 600;
    }

    &__price {
        text-align: right;
    }
}