.information {
    grid-area: 3 / 1 / 4 / 2;

    &__table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 20px;
    }

    &__name {
        font-size: 17px;
        margin-bottom: 2px;
        color: rgb(122, 122, 122);
    }
    
    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}